.chat {
  flex: 0.7;
  flex-grow: 1;
  overflow-y: scroll;
  padding-bottom: 150px;
}
.chat__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px;
  border-bottom: 2px solid #b99750;
}

.chat__headerRight > p {
  align-items: center;
  font-size: 14px;
}
.chat__welcome {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.chat__headerRight > p > .MuiSvgIcon-root {
  margin-right: 5px !important;
  font-size: 16px;
}
.chat__channelName {
  display: flex;
  text-transform: capitalize;
}
.chat__channelName > .MuiSvgIcon-root {
  margin-left: 10px;
  font-size: 18px;
}
