.message {
  display: flex;
  align-items: center;
  padding: 20px;
}
.message > img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  border-radius: 999px;
}

.message__timestamp {
  color: rgb(102, 101, 97);
  font-weight: 300;
  padding-left: 5px;
  font-size: 13px;
}

.message__info {
  padding-left: 10px;
}
